{%load static %}
<!DOCTYPE html>
<html lang="en" class="!bg-gray-900">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">

</head>

<body>
    <section class="!bg-gray-900 h-screen p-10">
        <div class=" px-6 py-8 mx-auto md:h-screen lg:py-0">
            <div class="flex flex-col gap-5 mt-10">
                {%for document in documents%}

                <div class="flex items-center justify-between">
                    <a href="/{{document.files}}" class="flex items-center">
                        <img src="{%static '/assets/image-icon.png'%}" class="w-10 h-10" style="width: 2rem;" />
                        <p class="text-white">{{document.document.name}}</p>
                    </a>
                    <span class="text-white">
                        {%if document.is_approved == -1%}
                        Pending
                        {%elif document.is_approved == 0%}
                        Rejected
                        {%elif document.is_approved == 1%}
                        Accepted
                        {%endif%}
                    </span>
                </div>
                {%endfor%}
            </div>
        </div>
    </section>
</body>

</html>